<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ip查询</title>
    </head>
    <body>
        <div>
            <p>使用方法：</p>
            <ul>
                <li>
                    <p><b>获取自己的ip：</b></p>
                    <p><b>api:</b></p>
                    <ul>
                        <li>http[s]://ip.linux.plus/</li>
                    </ul>
                    <p><b>example:</b></p>
                    <ul>
                        <li>curl "ip.linux.plus"</li>
                        <li>curl "ip.linux.plus/?type=json"</li>
                        <li>curl "ip.linux.plus/?type=jsonp&callback=test"</li>
                    </ul>
                </li>
                <li>
                    <p><b>获取ip的地理信息：</b></p>
                    <p><b>api:</b></p>
                    <ul>
                        <li>http[s]://ip.linux.plus/search/</li>
                    </ul>
                    <p><b>example:</b></p>
                    <ul>
                        <li>curl "ip.linux.plus/search/"</li>
                        <li>curl "ip.linux.plus/search/?type=json"</li>
                        <li>curl "ip.linux.plus/search/?type=jsonp&callback=test"</li>
                        <li>curl "ip.linux.plus/search/1.1.1.1"</li>
                        <li>curl "ip.linux.plus/search/1.1.1.1?type=json"</li>
                        <li>curl "ip.linux.plus/search/1.1.1.1?type=jsonp&callback=test"</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>